nav {
  height: 64px;
  border-bottom: 1px solid rgb(231, 231, 231);
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}

.left {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}

.right {
  line-height: 2;
  margin: 10px;
}

span {
  margin-left: 10px;
}
